* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding:18px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: black ;
  color: #212121;
  line-height: 1.5;

}
header{
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  


  
  
}
main{
  /* display: flex; */
/* background-color: rgb(224, 187, 218); */
flex-grow: 1;
padding: 18px;
border-radius: 8px;
}
footer{
  display: flex;
  min-height: 80px;
}
ul,
li {
  list-style-type: none;
}



/* ------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


.gallery-image{
  max-width: 320px;
display: block;    
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}


.container{
  max-width: 1128px;
  margin: 0 auto;}


.gallery-link{
  max-width: 320px;
  display: block;
}

li{
  transition: scale 1.1s;
}

li:hover,
li:focus{
scale: 1.1;
}
.main-flex{
  flex-grow: 1;
}